{% extends 'home\base.html' %}
{% block content %}

<nav class="navbar bg-dark">
    
     
            <form action='' method="POST" class='form'>
                {% csrf_token %}
                
                        <div id="form-wrapper" class='m-3' >
                            <button class="go-button fa fa-search"></button>
                            <div class="in-wrap">
                              
                              <input  id="search-box" class='form-control' name='product' type="text" placeholder="Search" aria-label="Search">
                            </div>
                            <!--<input type="text" name="query" >-->
                          </div>
                          
                  
            </form>
             
            
        </nav>
        {% if messages %}
    {% for message in messages %}
        <div class='row mt-3'>
            <div class='offset-3 col-sm-7'>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                      </symbol>
                      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </symbol>
                  </svg>


<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>


            </div>
        </div>
    {% endfor %}
{% endif %}
        
{% if data %}
    <div class='container mt-5'>
        <div class='row'>
            {% for d in data %}
            <div class='col-sm-2  m-3'>
                <img src={{d.image}} class="img-fluid img-thumbnail" alt="mobile" width="150" height="150">
               
                <div class='card-title'>{{d.product_name}}</div> 

                <p class="card-text">
                    {% if d.rating.rate >= 1.0 %}
                    <span class="fa fa-star checked"></span>
                    {% elif d.rating.rate == 0.5 %}
                    <span class="fa fa-star-half-o checked"></span>
                    {% else %}
                    <span class="fa fa-star-o checked"></span>
                    {% endif %}
                    {% if d.rating.rate >= 2.0 %}
                    <span class="fa fa-star checked"></span>
                    {% elif d.rating.rate == 1.5 %}
                    <span class="fa fa-star-half-o checked"></span>
                    {% else %}
                    <span class="fa fa-star-o checked"></span>
                    {% endif %}
                    {% if d.rating.rate >= 3.0 %}
                    <span class="fa fa-star checked"></span>
                    {% elif d.rating.rate == 2.5 %}
                    <span class="fa fa-star-half-o checked"></span>
                    {% else %}
                    <span class="fa fa-star-o checked"></span>
                    {% endif %}
                    {% if d.rating.rate >= 4.0 %}
                    <span class="fa fa-star checked"></span>
                    {% elif d.rating.rate == 3.5 %}
                    <span class="fa fa-star-half-o checked"></span>
                    {% else %}
                    <span class="fa fa-star-o checked"></span>
                    {% endif %}
                    {% if d.rating.rate >= 5.0 %}
                    <span class="fa fa-star checked"></span>
                    {% elif d.rating.rate == 4.5 %}
                    <span class="fa fa-star-half-o checked"></span>
                    {% else %}
                    <span class="fa fa-star-o checked"></span>
                    {% endif %}<span style='color:darkcyan'>{{d.global_rating}}</span><br>

                    {% if d.price %}
                    <sup><i class="fa fa-rupee"></i></sup>
                    <span class='h5' style='color:brown'>{{d.price}}</span><br>
                    {% endif %}
                    
                    {% if d.discount %}
                    <i class="fa fa-tag fa-lg" style='color: brown'></i> 
                    <span >{{d.discount}}</span>
                    {% endif %}
                </p>
                
            </div>
            {% endfor %}
            
        </div>
    
    </div>
{% endif %}
{% if product %}
<div class='container-fluid m-5'>
    <div class='row'>
    
        <div class='col-sm-6 '>
            <img src={{product.image}} class="img-fluid img-thumbnail" alt="mobile" width="500" height="500">

        </div>
        <div  class='col-sm-5 '>

            <div class='card-title h4'>{{product.product_name}}</div> 

            <p class="card-text">
                {% if product.rating.rate >= 1.0 %}
                <span class="fa fa-star checked"></span>
                {% elif product.rating.rate == 0.5 %}
                <span class="fa fa-star-half-o checked"></span>
                {% else %}
                <span class="fa fa-star-o checked"></span>
                {% endif %}
                {% if product.rating.rate >= 2.0 %}
                <span class="fa fa-star checked"></span>
                {% elif product.rating.rate == 1.5 %}
                <span class="fa fa-star-half-o checked"></span>
                {% else %}
                <span class="fa fa-star-o checked"></span>
                {% endif %}
                {% if product.rating.rate >= 3.0 %}
                <span class="fa fa-star checked"></span>
                {% elif product.rating.rate == 2.5 %}
                <span class="fa fa-star-half-o checked"></span>
                {% else %}
                <span class="fa fa-star-o checked"></span>
                {% endif %}
                {% if product.rating.rate >= 4.0 %}
                <span class="fa fa-star checked"></span>
                {% elif product.rating.rate == 3.5 %}
                <span class="fa fa-star-half-o checked"></span>
                {% else %}
                <span class="fa fa-star-o checked"></span>
                {% endif %}
                {% if product.rating.rate >= 5.0 %}
                <span class="fa fa-star checked"></span>
                {% elif product.rating.rate == 4.5 %}
                <span class="fa fa-star-half-o checked"></span>
                {% else %}
                <span class="fa fa-star-o checked"></span>
                {% endif %}<span style='color:darkcyan'>{{product.global_rating}}</span><br>

                {% if product.price %}
                <sup><i class="fa fa-rupee"></i></sup>
                <span class='h5' style='color:brown'>{{product.price}}</span><br>
                {% endif %}
                
                {% if product.discount %}
                <i class="fa fa-tag fa-lg" style='color: brown'></i> 
                <span >{{product.discount}}</span>
                {% endif %}
            </p>
            
        

        </div>
        
        
    </div>

</div>
{% endif %}

<!---->



{% endblock %}